---
import Layout from '../layouts/Layout.astro';
---

<Layout title="👀: myalltimefaves" bgColor="#252525">
  <div class="text-center p-4">
    <p class="text-white">this is where the main content goes!</p>
  </div>
</Layout>
