---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const username = import.meta.env.USERNAME;

const filmCollection = await getCollection('film');
---

<Layout title="👀: myalltimefaves" bg="bg-black">
  <header class="px-10 py-6 flex items-end text-white">
    <div class="flex-none md:flex-1" />
    <div>
      <h4 class="font-bold">myalltimefaves</h4>
    </div>
    <div class="flex-1 text-right">
      <p>find me @ <a href=`https://letterboxd.com/${username}` class="underline">letterboxd</a></p>
    </div>
  </header>

  <main class="text-white">
    
  </main>

  <!-- <main class="text-white">
    {filmCollection.map(film => {
      return (
        <a href={`/film/${film.id}`}>
          <p>{film.data[0].title} ({film.data[0].year})</p>
        </a>
      )
    })}
  </main> -->
</Layout>
