---
import FilmGallery from "./FilmGallery.astro"

const tabList = ['All', '1970s', '1980s', '1990s', '2000s', '2010s', '2020 - 24'];
---

<div class="text-white">
  <div class="flex justify-center">
    <ul class="flex flex-wrap justify-center mb-16" id="tabList" data-activetab="All">
    <ul class="flex flex-wrap justify-center mb-16" id="tabList" data-activetab="All">
      {
        tabList.map((tab) => {
          return (
            <li class="px-4 py-2 cursor-pointer" id={tab}>
                {tab}
            </li>
          )
        })
      }
    </ul>
  </div>

  <FilmGallery id="filmGallery" activeTab="1990s" />
</div>

<script>
  let activeTabId = document.getElementById('tabList')?.dataset.activetab || 'All';
  var activeTab = document.getElementById(activeTabId);
  activeTab?.classList.add('bg-white', 'text-black');

  let btns = document.querySelectorAll('li');
  for (let i of btns) {
    i.addEventListener('click', function() {
      activeTab?.classList.remove('bg-white', 'text-black');

      activeTabId = this.id;
      activeTab = document.getElementById(activeTabId);
      activeTab?.classList.add('bg-white', 'text-black');

      document.getElementById('tabList').dataset.activetab = this.id;
    });
  }
</script>
